@import url('https://rsms.me/inter/inter-ui.css');

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: -apple-system, "Inter UI", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.20;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h2 {
    font-family: -apple-system, "Inter UI", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: -apple-system, "Inter UI", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.20;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.00px;
    word-spacing: 0.00px;
    text-transform: none;
}

p {
    font-family: -apple-system, "Inter UI", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.60;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}

