.section {
    width: 100%;

    &__wrapper {
        width: 100%;
        max-width: 120.0rem;
        margin: 0 auto;
    }
}

.articles {
    width: 100%;
    max-width: 90.0rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(26.5rem, 1fr));

    @media screen and (max-width: 75.0rem) {
        padding-top: 8.0rem; 
    }
}

.article__item {
    width: 26.5rem;
    margin-bottom: 4.0rem;

    justify-self: center;

    border-radius: 0.3rem;
    background: #FFFFFF;
    border: 0.1rem solid $lightgray;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.01);
    transition: box-shadow 150ms; 

    * {margin: 0;}

    @media screen and (min-width: 750px) {
        margin-bottom: 0;

        &:first-child {justify-self: left;}
        &:last-child {justify-self: right;}
    }
    

    a {
        display: block;
        height: 100%;
        text-decoration: none;

        &:visited {
            .article__title, .article__description, .article__social p {
                color: $lightgray;
            }
        }
        
        &:hover {
            .article__title {
                color: $blue;
            }
        }

    }
    
    &:hover {
        box-shadow: 0 0 0 0.5rem $lightgray;
    }
}

.article__image__container {
    display: block;
    width: 100%;
    height: 15.0rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem 0.8rem 0;
}

.article__image {
    width: 100%;
    height: 100%;

    border-radius: 0.3rem;
    cursor: pointer;

    object-fit: cover;

    transition: box-shadow 150ms; 

    &.image-border {
        border: 0.1rem solid $lightgray;
    }
}

.article__overflow {
    overflow: hidden;
    min-height: 9.5rem;
    max-height: 9.5rem;
    padding: 0 1.6rem;
    margin-bottom: 1.2rem;
}

.article__description {
    font-size: 1.4rem;
    color: $darkgray;
}

.article__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 140%;
    color: $black;
    cursor: pointer;

    margin: 0 0 1.6rem 0;

    transition: color 100ms; 
}

.article__description {
    font-size: 1.4rem;
    line-height: 150%;
    cursor: pointer;

    margin: 0 0 3.2rem 0;
}

.article__source {
    color: $gray;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 0;
    margin-bottom: 0.8rem;

    svg {
        margin-right: 0.8rem;
    }

    p {
        font-size: 1.4rem;
    }
}

.article__social {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-top: 0.1rem solid $lightgray;

    & > p {
        font-size: 1.2rem;
        color: $gray;
    }
}
