button.btn {
    background-color: $offwhite;
    border: 0.1rem solid $lightgray;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    color: inherit;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 1.0rem 3.0rem;
    white-space: nowrap;

    &.action {
        background: $blue;
        border: solid 0.1rem $blue;
        color: white;
    }
}