.js-menu {
    width: 35px;
    height: 36px;

    padding: 0.5rem 0.5rem 0.25rem;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: visible;

    &:hover {
        background: $lightgray;
    }

    .js-close {display: none;}

    &.sidebar-open {
        .js-open {display: none;}
        .js-close {display: block;}
    }
}

.js-sidebar {
    position: fixed;
    top: 0;
    right: 0;

    width: 400px;
    height: 100vh;
    padding: 40px;
    overflow-y: scroll;

    background: #FFFFFF;
    border-left: 1px solid $lightgray;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);

    transform: translateX(0);
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;

    &.hidden {
        transform: translateX(400px);
    }

    p {font-size: 14px;}

    form {
        position: relative;
        padding-bottom: 5rem;
    }
}

.sidebar__title {
    font-size: 21px;
}

.sidebar__footer {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 399px;
    height: 5rem;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    background: $offwhite;
    border-top: 1px solid $lightgray;
    padding: 1rem 40px;

    transform: translateX(0);
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;

    &.hidden {
        transform: translateX(400px);
    }
}

.js-sources {
    h3 {
        margin: 0;
        margin-bottom: 1rem;

        font-size: 16px;
        font-weight: 700;
    }
}

.source__group  {
    margin-bottom: 2rem;

    input {
        position: absolute;
        opacity: 0;

        &:checked + label {
            background: $blue;
            border: solid 1px $blue;
            color: #FFF;
        }
    }

    label {
        display: block;

        margin-bottom: 15px;
        padding: 10px 30px;

        font-size: 16px;
        border: 1px solid $lightgray;
        border-radius: 4px;
        background-color: $offwhite;
        cursor: pointer;
        
        // no highlighting
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }

}

.attribution {
    color: $darkgray;

    a {
        text-decoration: none;
        color: #4188E5;
    }
}