.js-menu {
    width: 3.5rem;
    height: 3.6rem;

    padding: 0.8rem 0.8rem 0.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
    pointer-events: visible;

    &:hover {
        background: $lightgray;
    }

    .js-close {display: none;}

    &.sidebar-open {
        .js-open {display: none;}
        .js-close {display: block;}
    }
}

.js-sidebar {
    position: fixed;
    top: 0;
    right: 0;

    width: 40.0rem;
    height: 100vh;
    padding: 4.0rem;
    overflow-y: scroll;

    background: #FFFFFF;
    border-left: 0.1rem solid $lightgray;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(12, 12, 13, 0.1);

    transform: translateX(0);
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;

    &.hidden {
        transform: translateX(40.0rem);
    }

    p {font-size: 1.4rem;}

    form {
        position: relative;
        padding-bottom: 8.0rem;
    }
}

.sidebar__title {
    font-size: 2.1rem;
}

.sidebar__footer {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 39.9rem;
    height: 8.0rem;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    background: $offwhite;
    border-top: 0.1rem solid $lightgray;
    padding: 1.6rem 4.0rem;

    transform: translateX(0);
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;

    &.hidden {
        transform: translateX(40.0rem);
    }
}

.attribution {
    color: $darkgray;

    a {
        text-decoration: none;
        color: #4188E5;
    }
}