.js-sources {
    h3 {
        margin: 0;
        margin-bottom: 1.6rem;

        font-size: 1.6rem;
        font-weight: 700;
    }
}

.source__group  {
    margin-bottom: 3.2rem;

    input {
        position: absolute;
        opacity: 0;

        &:checked + label {
            background: $blue;
            border: solid 0.1rem $blue;
            color: #FFF;
        }
    }

    label {
        display: block;

        margin-bottom: 1.5rem;
        padding: 1.0rem 3.0rem;

        font-size: 1.6rem;
        border: 0.1rem solid $lightgray;
        border-radius: 0.4rem;
        background-color: $offwhite;
        cursor: pointer;
        
        // no highlighting
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }

}