.message__bar {
    padding: 0.8rem;
    border-radius: 0.3rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    background: $lightgray;

    .message__bar__message {
        margin: 0;
        color: $darkgray;
    }

    .message__bar__info, .message__bar__close {
        stroke: $darkgray;
    }

    .message__bar__info {
        margin-right: 1.2rem;
    }

    .message__bar__close {
        margin-left: 1.2rem;
        cursor: pointer;
    }
}

.message__bar--success {
    background: $green;
}

.message__bar--warning {
    background: $yellow;
}

.message__bar--error {
    background: $red;

    .message__bar__message {
        color: white;
    }

    .message__bar__info, .message__bar__close {
        stroke: white;
    }
}