.settings {
    padding-left: 3.6rem;
}

.settings__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
    will-change: transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(.07,.95,0,1);

    &--hidden {
        transform: translateX(359px);
    }
}

.settings__group {
    margin-bottom: 1.6rem;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox label::before {
      content: "";
      display: inline-block;
      cursor: pointer;
      
      height: 1.6rem;
      width: 1.6rem;
      
      border: 1px solid #b7b7b7;   
      border-radius: 0.3rem;
  }
  
  .checkbox label::after {
      content: "";
      display: inline-block;
      cursor: pointer;  
  
      height: 0.7rem;
      width: 0.9rem;
      border-left: 0.2rem solid white;
      border-bottom: 0.2rem solid white;
      border-radius: 0.2rem;
      
      transform: rotate(-45deg);
  }
  
  .checkbox label {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 1.6rem;
      position: relative;
  }
  
  .checkbox label::before,
  .checkbox label::after {
      position: absolute;
  }
  
  /*Outer-box*/
  .checkbox label::before {
      top: 0.1rem;
      left: -3.6rem;
  }
  
  /*Checkmark*/
  .checkbox label::after {
      left: -3.25rem;
      top: 0.4rem;
  }
  
  /*Hide the checkmark by default*/
  .checkbox input[type="checkbox"] + label::after {
      content: none;
  }
  
  /*Unhide the checkmark on the checked state*/
  .checkbox input[type="checkbox"]:checked + label::after {
      content: "";
  }
  
  .checkbox input[type="checkbox"]:checked + label::before {
      background: #007AFF;
      border: 0.1rem solid #007AFF; 
  }
  
  .checkbox input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 0.5rem;
  }
  
  .radio {
    margin-bottom: 0.8rem;
    padding-left: 3.6rem;
  }
  
  .radio input[type="radio"] {
      opacity: 0;
      position: absolute;
  }
  
  .radio label::before {
      content: "";
      display: inline-block;
      
      height: 1.6rem;
      width: 1.6rem;
      
      border: 0.1rem solid #b7b7b7;   
      border-radius: 50%;
  }
  
  .radio label::after {
    content: "";
    display: inline-block;
    
    width: 0.8rem;
    height: 0.8rem;
    
    border-radius: 50%;
    background: #007AFF;
  }
  
  .radio label {
      position: relative;
      font-weight: 700;
  }
  
  .radio label::before,
  .radio label::after {
      position: absolute;
  }
  
  /*Outer-box*/
  .radio label::before {
      top: 0.1rem;
      left: -3.6rem;
  }
  
  /*Checkmark*/
  .radio label::after {
      left: -3.2rem;
      top: 0.5rem;
  }
  
  /*Hide the checkmark by default*/
  .radio input[type="radio"] + label::after {
      content: none;
  }
  
  /*Unhide the checkmark on the checked state*/
  .radio input[type="radio"]:checked + label::after {
      content: "";
  }
  
  .settings__subtitle {
    margin: 0;
    margin-bottom: 0.8rem;
    width: 30.0rem;
    line-height: 150%;
  }
  
  .disable-settings {
      opacity: 0.5;
      cursor: default;
  }