$darkgray:      #5e5e5e;
$lightgray:     #ededed;
$offwhite:      #fafafa;
$blue:          #007aff;

.Sidebar {
    position: fixed;
    top: 0;
    right: 0;

    width: 40.0rem;
    height: 100vh;
    padding: 4.0rem;
    overflow-y: hidden;

    background: #FFFFFF;
    border-left: 0.1rem solid $lightgray;
    box-shadow: 0 0.1rem 0.4rem 0 rgba(12, 12, 13, 0.1);

    transform: translateX(0);
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;

    p {font-size: 1.4rem;}

    form {
        position: relative;
        padding-bottom: 8.0rem;
    }
}

.Container {
    height: calc(100vh - 24.8rem);
    width: 31.9rem;
    overflow: hidden;
    position: relative;
}

.ContainerInner {
    position: absolute;
    height: 100%;
    display: flex;
    overflow-y: hidden;

    transform: translateX(0);
    
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(.07,.95,0,1);

    will-change: transform;
}

.Panel {
    width: 31.9rem;
    height: 100%;
    margin-right: 4rem;
}

.Panel > div {
    width: 31.9rem;
    height: calc(100vh - 24.8rem);
    overflow-y: auto;
}

.SidebarHidden {
    @extend .Sidebar;
    transform: translateX(40.0rem);
}

.Title {
    font-size: 2.1rem;
    margin-top: 0;
}

.Footer {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 39.9rem;
    height: 8.0rem;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    background: $offwhite;
    border-top: 0.1rem solid $lightgray;
    padding: 1.6rem 4.0rem;

    transform: translateX(0);
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform;
}

.FooterHidden {
    @extend .Footer;
    transform: translateX(40.0rem);
}

.Attribution {
    color: $darkgray;

    a {
        text-decoration: none;
        color: #4188E5;
    }
}

.Button {
    background-color: $offwhite;
    border: 0.1rem solid $lightgray;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    color: inherit;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 1.0rem 3.0rem;
    white-space: nowrap;
}

.ActionButton {
    @extend .Button;
    background: $blue;
    border: solid 0.1rem $blue;
    color: white;
}

.ShowSources {
    transform: translateX(0);
}

.ShowReadingList {
    transform: translateX(-35.9rem);
}

.ShowSettings {
    transform: translateX(-71.8rem);
}

.ShowAbout {
    transform: translateX(-107.7rem);
}