@import './base/variables';
@import './base/typography';
@import './base/base';

@import 'components/articles';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/footer';
@import 'components/search';
@import 'components/sidebar';
@import 'components/sources';
@import 'components/weather';
@import 'components/clock';
@import 'components/settings';
@import 'components/message-bar';
@import 'components/skeletons';
@import 'components/svg';



main {
    position: relative;

    width: 100%;
    max-width: 90.0rem;
    margin: 0 auto;
    min-height: calc(100vh - 11.2rem);
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}