@import './base/variables';
@import './base/typography';
@import './base/base';

@import 'components/articles';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/search';
@import 'components/sidebar';
@import 'components/sources';



main {
    position: relative;

    width: 100%;
    max-width: 90.0rem;
    margin: 0 auto;
    min-height: calc(100vh - 11.2rem);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}