$black: #2b2b2b;
$red: #de3618;
$yellow: #f8ce34;
$green: #73d76d;
$gray: #ededf0;

.Toast {
  padding: 1rem;
  min-height: initial;
  background: $gray;
  border-radius: 0.4rem;
  min-height: 3.2rem;
  color: $black;
  box-shadow: none;

  svg {
    stroke: $black;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.1rem;
  }

  span {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 0.8rem;
  }

  p {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 0;
    margin: 1rem 1rem 0 0;
  }

  button {
    height: 2.5rem;
    border-radius: 0.1rem;
    font-size: 1.4rem;
    border: none;
    color: $black;
    cursor: pointer;
    background: darken($gray, 10%);
    margin: 1rem 1rem 0 0;
  }

  .Close {
    transition: 200ms;

    &:hover {
      background: darken($gray, 10%);
    }
  }
}

.ToastBody {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.Error {
  @extend .Toast;
  background: $red;
  color: white;

  svg {
    stroke: white;
  }

  button {
    background: darken($red, 10%);
    color: white;
  }

  .Close:hover {
    background: darken($red, 10%);
  }
}

.Warning {
  @extend .Toast;
  background: $yellow;

  button {
    background: darken($yellow, 10%);
  }

  .Close:hover {
    background: darken($yellow, 10%);
  }
}

.Success {
  @extend .Toast;
  background: $green;

  .Close:hover {
    background: darken($green, 10%);
  }
}
