@import url('https://fonts.googleapis.com/css?family=Karla:700');

nav {
    @include flex(center, space-between);
    padding-top: 36px;
    padding-bottom: 5rem;

    .logo {
        svg {
            width: 28px;
            height: 28px;
            margin-right: 1rem;
        }

        h1 {
            font-family: 'Karla', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -0.5px;
            margin: 0;
        }
    }

    .nav-links {
        a {
            color: $primary-text;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}