section.slider {
    height: 36px;
    margin-bottom: 8rem;
    
    .slide {
        width: 100%;

        img {
            width: 150px;
            object-fit: contain;
            object-position: center center;
            height: 36px;
        }
    }
}

section.specs {
    margin-bottom: 5rem;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 8rem;

        li {
            @include flex(center, center);
            flex-direction: column;
        }

        svg {
            margin-bottom: 1rem;
            color: $primary-icon;
        }

        h3 {
            color: $primary-text;
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            text-align: center;
            line-height: 155%;
            color: $secondary-text;
        }
    }
}

section.action {
    @include flex(center, center);
    flex-direction: column;

    h3 {
        color: $primary-text;
        margin-bottom: 20px;
    }

    button {
        margin-bottom: 12px;
    }

    & > div {
        @include flex(center, center);
        flex-direction: column;
    }
}