$black:         #2b2b2b;

.Clock {
    margin-bottom: 8rem;
    
    opacity: 0.9;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.07,.95,0,1);
}

.Hidden {
    @extend .Clock;
    opacity: 0;
    pointer-events: none;
}

.ClockText {
    margin: 0;
    color: $black;
    font-size: 8rem;

    // no highlighting
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}