html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

ol,ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

svg {
    width: 20px;
    height: 20px;
    color: $primary-icon;
}

a.btn, button {
    display: block;
    width: 213px;
    height: 36px;
    background: $button-bg;
    border-radius: 3px;
    margin-bottom: 12px;
    border: 1px solid $button-border;
    @include flex(center, center);
    color: $secondary-text;
    font-family: "Inter UI", -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 400;

    &.primary {
        border: 2px solid $accent-color;
        background: $accent-color-secondary;
        cursor: pointer;
    }

    img {
        margin-right: 1rem;
        width: 18px;
        height: 18px;
    }
}