// Text system
$primary-text:              #2B2B2B;
$secondary-text:            #5E5E5E;
$accent-text:               #007AFF;

// Icon system 
$primary-icon:              #D7D7DB;

// Button system
$button-border:             #EDEDED;
$button-bg:                 #FAFAFA;
