.Section {
    width: 100%;
}

.SectionWrapper {
    width: 100%;
    max-width: 120.0rem;
    margin: 0 auto;
}

.Normal {
    width: 100%;
    max-width: 90.0rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(26.5rem, 1fr));

    position: relative;

    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.07,.95,0,1);
}

.Hidden {
    @extend .Normal;
    opacity: 0;
    pointer-events: none;
}