html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 62.5%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: -apple-system, 'Inter UI', sans-serif;
    color: $primary-text;
    background: white;
}

ol, ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

svg {
    width: 2.0rem;
    height: 2.0rem;

    fill: none;

    stroke: $gray;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;

    &.cursor {
        cursor: pointer;
    }
}