$primary-text:      #2B2B2B;
$secondary-text:    #999999;
$border-color:      #D7D7DB;
$accent-color:      #007AFF;

$black:         #2b2b2b;
$darkgray:      #5e5e5e;
$gray:          #b7b7b7;
$lightgray:     #ededed;
$offwhite:      #fafafa;
$blue:          #007aff;
$red:           #FE3C30;
$green:         #6DE98D;
$yellow:        #FFCC00;